
head {
	text-align: center;
}


html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

body {
	background-color: #2b2b2b;
	text-align: center;
	margin: 0;
}

p {
color: #fffaf1;
font-family: 'helvetica neue', sans-serif;
font-weight: 350; 
padding: 5px; 
}

ul {
color: #fffaf1;
font-family: 'helvetica neue', sans-serif;
font-weight: 350; 
}

  h1 { 
  	color: rgb(174,25,30);
 text-align: center;
 font-weight: 600;
 margin-bottom: 5px;
}

.page-title {
	color: rgb(174,25,30);
  font-family: futura, sans-serif;
  font-weight: 600;
  text-align: center;
font-size:2em;
 margin-bottom: 5px;
}

.page-title:link, visited {
	text-decoration: none;
}

.pagetitle:hover,active {
	text-decoration: underline;
}

h2 { color: #323232; 
	font-family: 'helvetica neue', sans-serif; 
	font-size: 75px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; }


#list {
	color: #f5de19;
}


 
