head {
	text-align: center;
}

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

body {
	background-color: #2b2b2b;
	text-align: center;
}

p {
color: #fffaf1;
font-family: 'helvetica neue', sans-serif;
font-weight: 350; 
padding: 5px;
margin-bottom:0px;
margin-top:0px;
}

ul {
color: #fffaf1;
font-family: 'helvetica neue', sans-serif;
font-weight: 350; 
}

#list {
	color: rgb(174,25,30);
}
 
#greetings {
  margin-top: -40px;
}

a {
	text-decoration: none;
}
.soclink:link { 
    text-decoration: none;
color: rgb(174,25,30);
}

.soclink:visited {
    text-decoration: none;
color: #800000;
}

.soclink:hover {
    text-decoration: underline;
    color: #da291c;
}

.soclink: active{
    text-decoration: none;
color: #da291c;
}

  h1 { 
  	color: rgb(174,25,30);
 text-align: center;
 font-weight: 400;
 margin-bottom: 5px;
 text-decoration: none;
}
h1:link, visited  {
	text-decoration: none;
}

h1:hover,active {
	color: #da291c;
	text-decoration: underline;
}
.page-title {
	color: rgb(174,25,30);
  font-family: futura, sans-serif;
  font-weight: 400;
  text-align: center;
font-size:2em;
 margin-bottom: 5px;
 text-decoration: none;
}
.page-title:link, visited  {
	text-decoration: none;
}

.pagetitle:hover,active {
	text-decoration: underline;
}
h2 { color: #323232; 
	font-family: 'helvetica neue', sans-serif; 
	font-size: 75px; 
	font-weight: bold; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; }


h6 {color: #fffaf1;
font-family: 'helvetica neue', sans-serif;
font-weight: 500; 
padding: 0px; 
font-size: 16px;
margin-top: 20px;
margin-bottom: 10px;
}

input[type=text] {
  color: #2b2b2b;
  width: 200px;
  box-sizing: border-box;
  border: 3px solid rgb(174,25,30);
  border-radius: 4px;
  font-size: 16px;
  background-color: #fbfbfb;
  background-image: url('/pics/search-mini.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 1.3s ease-in-out;
}

input[type=text]:focus {
  color: #2b2b2b;
  width: 300px;
}

input[type=login] {
  color: #2b2b2b;
  width: 100px;
    border: 3px solid #323232; 
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fbfbfb;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.3s ease-in-out;
  
}

input[type=login]:focus {
  color: #2b2b2b;
  width: 300px;
  transition: width 0.3s ease-in-out;
  border: 3px solid #323232; 
  border-radius: 6px;
}

input[type=login]:hover {
  color: #2b2b2b;
  width: 300px;

  border: 3px solid #323232; 
  border-radius: 6px;
}

thead {
	font-size: 20px;
}