


body {
	background-color: #2b2b2b;
	text-align: center;
}


a:link {
  text-decoration: none;
  color: rgb(204, 0, 0);
}

a:visited {
  text-decoration: none;
  color: rgb(55, 0, 0);
}

a:hover {
  text-decoration: none;
  color: rgb(204, 0, 0);
}

a:active {
  text-decoration: underline;
  color: rgb(204, 0, 0);
}

#list {

	color: #f5de19;
}
