 nav {
    margin: 0px auto 0;
    position: relative;
    width: 600px;
    height: 50px;
    background-color: #fbfbfb;
    border-radius: 8px;
    font-size: 0;
}
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    font-family: Futura;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: #2b2b2b;
    cursor: pointer;
}

nav a:hover,active {
    text-decoration: underline;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: linear 3s ease 3s;
    border-radius: 8px;
}
a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 100px;
}
a:nth-child(3) {
    width: 100px;
}
a:nth-child(4) {
    width: 100px;
}
a:nth-child(5) {
    width: 100px;
}
a:nth-child(6) {
    width: 100px;
}

nav .start-1, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: rgb(174, 25,30);
}
nav .start-2, a:nth-child(2):hover~.animation {
    width: 100px;
    left: 100px;
    background-color: rgb(174, 25,30);
}
nav .start-3, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 200px;
    background-color: rgb(174, 25,30);
}
nav .start-4, a:nth-child(4):hover~.animation {
    width: 100px;
    left: 300px;
    background-color: rgb(174, 25,30);
}
nav .start-5, a:nth-child(5):hover~.animation {
    width: 100px;
    left: 400px;
    background-color: rgb(174, 25,30);
}
nav .start-6, a:nth-child(6):hover~.animation {
    width: 100px;
    left: 500px;
    background-color: rgb(174, 25,30);
}